{% extends "base.html" %}

{% block css %}
    <link type="text/css" rel="stylesheet" href="/css/external.css">
{% endblock %}

{% block body %}
    <!-- NAVBAR ================================================== -->
    <div class="navbar-wrapper">
      <div class="container">
        <div class="navbar navbar-inverse navbar-static-top" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/">With Kelly</a>
            </div>
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li class="active"><a href="/">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#contact">Contact</a></li>
                <li class="dropdown">
                  <a href="/archive" class="dropdown-toggle" data-toggle="dropdown">Archive <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="/archive">All</a></li>
                    <li class="divider"></li>
                    <li class="dropdown-header">Category</li>
                    <li><a href="/archive/shopping">Shopping</a></li>
                    <li><a href="/archive/travel">Travel</a></li>
                    <li><a href="/archive/cooking">Cooking</a></li>
                  </ul>
                </li>
              </ul>
              <form class="navbar-form navbar-right" role="search" action="/search" method="get">
                <div class="form-group">
                  <input type="text" class="form-control" name="keyword" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-search"></span></button>
                {% if cookie_logout %}
                <a class="buttonlink" href="/dashboard"><div class="btn btn-success">Dashboard</div></a>
                <a class="buttonlink" href="/logout"><div class="btn btn-success">Logout</div></a>
                {% endif %}
              </form>
            </div>
          </div>
        </div>
      </div>
    </div><!-- /.navbar -->
    {% block content %}
    {% endblock %}
    <!-- Center Container ================================================== -->
    <div class="container marketing">
      <div class="row">
        <div class="col-lg-4">
          <img class="img-circle" data-src="holder.js/140x140" alt="shopping">
          <h2>Shopping</h2>
          <p>This is a sentence.</p>
          <p><a class="btn btn-default" href="/archive/shopping" role="button">View more &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" data-src="holder.js/140x140" alt="travel">
          <h2>Travel</h2>
          <p>This is a sentence.</p>
          <p><a class="btn btn-default" href="/archive/travel" role="button">View more &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" data-src="holder.js/140x140" alt="cooking">
          <h2>Cooking</h2>
          <p>This is a sentence.</p>
          <p><a class="btn btn-default" href="/archive/cooking" role="button">View more &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
    {% block featurettes %}
    {% endblock %}
      <hr class="featurette-divider">
      <!-- FOOTER ================================================== -->
      <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2014 With Kelly &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
      </footer><!-- /.footer -->
    </div><!-- /.center container -->
{% endblock %}
