{% extends "base_internal.html" %}

{% block content %}
      <form class="form">
        <h1 class="center">Welcome, {{ username }}!</h1>
        <a class="buttonlink" href="/newpost"><div class="btn btn-lg btn-success btn-block">New Post</div></a>
        <a class="buttonlink" href="#"><div class="btn btn-lg btn-success btn-block">Archive (Edit)</div></a>
        <a class="buttonlink" href="/"><div class="btn btn-lg btn-success btn-block">View Blog</div></a>
        <a class="buttonlink" href="/logout"><div class="btn btn-lg btn-success btn-block">Logout</div></a>
      </form>
{% endblock %}
